:root{
    --main: green;
}
body{
    background: #eee;
}
.resize{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    height: 300px;
    width: 500px;
    text-align: center;
    background-color: wheat;
    overflow: auto;
    resize: both;
    margin-bottom: 20px;
}

.cursor{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    height: 300px;
    width: 500px;
    text-align: center;
    background-color: wheat;
    cursor: pointer;
    margin-bottom: 20px;
}

.percentage{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    height: 300px;
    width: 80%;
    
}

#to-check{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    height: 200px;
    width: 60%;
    margin-top: 20px;
}

.variable{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}

.clip-path{
    border-width: 3px;
    border-color: var(--main);
    border-style: solid;
    margin-top: 20px;
}
.clip-path img{
    width: 400px;
    margin-top: 20px;
    height: 400px;
    float: left;
    clip-path: circle(40% at 50% 50%) ;
    shape-outside: circle(40% at 50% 50%);
    shape-margin: 20px;
}

.filte{

    margin-top: 20px;
}

.filter img{
    width: 400px;
    margin-top: 20px;
    height: 400px;
    filter: opacity(50%);
}

.transition{
    width: 200px;
    margin-top: 20px;
    height: 200px;
    background-color: hotpink;
    /* transition-property: height, width, background-color;
    transition-duration: 2s,2s,2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s; */
    transition: all 2s ease-in-out 0.2s;
}

.transition:hover{
    width: 300px;
    height: 300px;
    background-color: orange;
    
}

#transition input{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-color: crimson;
    transition: all 2s ease-in-out ;
}

#transition input:hover{
    width: 400px;
    border-color: blue;

}

.transform-2D{
    margin-top: 20px;
    width: 200px;
    height: 150px;
    background-color: tomato;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 150px;
    transform: skew(-30deg ,50deg);
    transform-origin: left top;
}

.transform-translate h2{
    width: 200px;
    height: 150px;
    background-color: tomato;
    transform: scale(1);
    transition: transform 1s;
    transform-origin: left top;
}

.transform-translate h2:hover{
    transform: scale(2);
}

.transform-3d{
    width: 300px;
    height: 250px;
    background: rgb(122, 117, 117);
    margin: 100px 0 0 100px;
    font-size: 18px;
    text-align: center;
}

#properties{
    width: 300px;
    height: 250px;
    background: hotpink;
   
    /*transform:perspective(800px) rotateY(30deg) translate3d(50px, 50px ,100px);
    transform:perspective(800px)  scaleZ(5) rotateX(60deg);*/
    transform:perspective(800px)  scale3d(2,2,2) rotateX(60deg)

}

.transform-style{
    width: 300px;
    height: 250px;
    background: rgb(122, 117, 117);
    margin: 100px 0 0 100px;
    perspective: 800px;
    transform: rotateY(30deg);
    transform-style: preserve-3d ;
   
}

#perserve-3d{
    width: 300px;
    height: 250px;
    background: rgb(241, 1, 101);
    padding-top: 20px;
    transform: rotateX(60deg);
    transform-origin: bottom;
}

.card{
    width: 300px;
    height: 300px;
    border: 0px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-150px;
    perspective: 500px;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content{
   transform: rotateY(180deg);
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    color: tomato;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    backface-visibility: hidden; 
    border-radius: 5px;
}

.back{
    background: tomato;
    color: #fff;
    transform: rotateY(180deg);
   
}